# Core dependencies
torch>=1.9.0
torchvision>=0.10.0
transformers>=4.20.0
numpy>=1.23
bitsandbytes>=0.49.1
accelerate>=1.12.0

# Data handling
pillow>=8.3.0
datasets>=2.0.0

# Utilities
tqdm>=4.62.0
pyyaml>=6.0
matplotlib>=3.5.0
triton>=3.4.0

# Performance optimization
numba>=0.58
tbb>=2021.6; platform_machine != "aarch64" # For CPU execution; if it triggers "NumbaWarning" with TBB versioning issue, see README.md for more details

pypuf==2.2.0 # For PUF simulation
seaborn>=0.13.2
